html, body {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Nunito', sans-serif;
}

ul, li {
    padding: 0;
    margin: 0
}

.title {
    font-weight: bold;
    font-size: 26px;
    color: #00a857;
}

@media (max-width: 767px) {
    .title {
        font-size: 24px;
        margin-top: 32px;
        margin-bottom: 24px
    }
}

.subtitle {
    font-weight: 500;
    font-size: 20px;
}

.text_center {
    text-align: center;
}

.color_greytone_01 {
    color: #fff
}

.row {
    display: block;
    width: 100%;
}

.row:after {
    content: "";
    display: block;
    width: 100%;
    overflow: hidden;
    opacity: 0
}

.row>div,
.col_1,
.col_2,
.col_3,
.col_4,
.col_5,
.col_6,
.col_7,
.col_8,
.col_9,
.col_10,
.col_11,
.col_12,
.col_s_1,
.col_s_2,
.col_s_3,
.col_s_4,
.col_s_5,
.col_s_6,
.col_s_7,
.col_s_8,
.col_s_9,
.col_s_10,
.col_s_11,
.col_s_12,
.col_m_1,
.col_m_2,
.col_m_3,
.col_m_4,
.col_m_5,
.col_m_6,
.col_m_7,
.col_m_8,
.col_m_9,
.col_m_10,
.col_m_11,
.col_m_12,
.col_l_1,
.col_l_2,
.col_l_3,
.col_l_4,
.col_l_5,
.col_l_6,
.col_l_7,
.col_l_8,
.col_l_9,
.col_l_10,
.col_l_11,
.col_l_12,
.col_xl_1,
.col_xl_2,
.col_xl_3,
.col_xl_4,
.col_xl_5,
.col_xl_6,
.col_xl_7,
.col_xl_8,
.col_xl_9,
.col_xl_10,
.col_xl_11,
.col_xl_12 {
    display: block;
}



.col_1,
.col_2,
.col_3,
.col_4,
.col_5,
.col_6,
.col_7,
.col_8,
.col_9,
.col_10,
.col_11,
.col_12 {
    float: left
}

.col_s_1,
.col_s_2,
.col_s_3,
.col_s_4,
.col_s_5,
.col_s_6,
.col_s_7,
.col_s_8,
.col_s_9,
.col_s_10,
.col_s_11,
.col_s_12 {
    float: left
}

@media (min-width: 768px) {
    .col_m_1,
    .col_m_2,
    .col_m_3,
    .col_m_4,
    .col_m_5,
    .col_m_6,
    .col_m_7,
    .col_m_8,
    .col_m_9,
    .col_m_10,
    .col_m_11,
    .col_m_12 {
        float: left
    }
}

@media (min-width: 1025px) {
    .col_l_1,
    .col_l_2,
    .col_l_3,
    .col_l_4,
    .col_l_5,
    .col_l_6,
    .col_l_7,
    .col_l_8,
    .col_l_9,
    .col_l_10,
    .col_l_11,
    .col_l_12 {
        float: left
    }
}

@media (min-width: 1900px) {
    .col_xl_1,
    .col_xl_2,
    .col_xl_3,
    .col_xl_4,
    .col_xl_5,
    .col_xl_6,
    .col_xl_7,
    .col_xl_8,
    .col_xl_9,
    .col_xl_10,
    .col_xl_11,
    .col_xl_12 {
        float: left
    }
}

.col_1 {
    width: 8.3333%
}

.col_2 {
    width: 16.6666%
}

.col_3 {
    width: 25%
}

.col_4 {
    width: 33.3333%
}

.col_5 {
    width: 41.6666%
}

.col_6 {
    width: 50%
}

.col_7 {
    width: 58.3333%
}

.col_8 {
    width: 66.6666%
}

.col_9 {
    width: 75%
}

.col_10 {
    width: 83.3333%
}

.col_11 {
    width: 91.6666%
}

.col_12 {
    width: 100%
}

.col_s_1 {
    width: 8.3333%
}

.col_s_2 {
    width: 16.6666%
}

.col_s_3 {
    width: 25%
}

.col_s_4 {
    width: 33.3333%
}

.col_s_5 {
    width: 41.6666%
}

.col_s_6 {
    width: 50%
}

.col_s_7 {
    width: 58.3333%
}

.col_s_8 {
    width: 66.6666%
}

.col_s_9 {
    width: 75%
}

.col_s_10 {
    width: 83.3333%
}

.col_s_11 {
    width: 91.6666%
}

.col_s_12 {
    width: 100%
}

@media (min-width: 768px) {
    .col_m_1 {
        width: 8.3333%
    }
    .col_m_2 {
        width: 16.6666%
    }
    .col_m_3 {
        width: 25%
    }
    .col_m_4 {
        width: 33.3333%
    }
    .col_m_5 {
        width: 41.6666%
    }
    .col_m_6 {
        width: 50%
    }
    .col_m_7 {
        width: 58.3333%
    }
    .col_m_8 {
        width: 66.6666%
    }
    .col_m_9 {
        width: 75%
    }
    .col_m_10 {
        width: 83.3333%
    }
    .col_m_11 {
        width: 91.6666%
    }
    .col_m_12 {
        width: 100%
    }
}

@media (min-width: 1025px) {
    .col_l_1 {
        width: 8.3333%
    }
    .col_l_2 {
        width: 16.6666%
    }
    .col_l_3 {
        width: 25%
    }
    .col_l_4 {
        width: 33.3333%
    }
    .col_l_5 {
        width: 41.6666%
    }
    .col_l_6 {
        width: 50%
    }
    .col_l_7 {
        width: 58.3333%
    }
    .col_l_8 {
        width: 66.6666%
    }
    .col_l_9 {
        width: 75%
    }
    .col_l_10 {
        width: 83.3333%
    }
    .col_l_11 {
        width: 91.6666%
    }
    .col_l_12 {
        width: 100%
    }
}

.col_l_6x{
    width: calc(50% - 16px) !important;
}

.col_l_3x{
    width: calc(25% - 16px) !important;
}
html, body { height: 100%; }
